name: Publish To NPM
on:
  pull_request:
    types:
      - closed
    branches:
      - main
jobs:
  publish:
    runs-on: ubuntu-latest
    if: (github.event_name == 'push' && github.ref == 'refs/heads/main') || (github.event_name == 'pull_request' && github.event.pull_request.merged == true)
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          registry-url: https://registry.npmjs.org
      - name: Check Version
        run: npx can-npm-publish
      - name: Install PNPM
        run: npm install -g pnpm
      - name: Install Dependencies
        run: pnpm install --verbose
      - name: Build
        run: pnpm run build
      - name: Publish
        run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}

